table, th, td { border-collapse: collapse;
                 color: white;}

tr:hover {background-color: #bb9b44;}
td { padding: 10px;}

table.fixtures td { text-align: center;}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

html {
    /* To make use of full height of page*/
    font-size: 22px;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

h1 {
    font-size: 56px;
    color:#264d78;
    text-shadow: -4px 0px #bb9b44;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:#bb9b44;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #264d78;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #264d78;
    color: white;
}

