tr:hover {background-color: white;}
td {text-align:center;}
a:link {color: #002699;} 

#Bottom {
   position : absolute;
   bottom : 0;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:#e6eeff;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #002699;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: #002699;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #005580;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e6eeff;
    color: #002699;
    text-align: center;
}
