html {
    /* To make use of full height of page*/
    font-size: 20px;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

#myInput {
    width: 100%;
    font-size: 20px; /* Increase font-size */
    padding: 20px 20px 20px 20px; /* Add some padding */
    margin-bottom: 20px; /* Add some space below the input */
}

#myUL {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

#myUL li {
    display: inline-block; 
}    



/* Navbar container */
.navbar {
  width: 100%;
  overflow: hidden;
  background-color:#bb9b44;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn { 
  color: white;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: #bb9b44;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #264d78;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #bb9b44;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #264d78;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
