html {
    /* To make use of full height of page*/
    font-size: 20px;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

#myInput {
    width: 80%;
    font-size: 20px; /* Increase font-size */
    padding: 20px 20px 20px 20px; /* Add some padding */
    margin-bottom: 20px; /* Add some space below the input */
}

#myUL {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

#myUL li {
    display: inline-block; 
}    



/* Add a black background color to the top navigation */
.topnav {
    width: 100%;
    background-color:#bb9b44;
    overflow: hidden;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #264d78;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #264d78;
    color: white;
}
