html {
    /* To make use of full height of page*/
    font-size: 20px;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
    margin: 0;
}

#myInput {
    width: 100%; /* Full-width */
    font-size: 20px; /* Increase font-size */
    padding: 40px 40px 40px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:#bb9b44;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #264d78;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #264d78;
    color: white;
}
